@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  
}

.container1 {
  max-width: 1440px;
  padding: 0 20px;
  margin: auto;
}
.back {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(meeting.jpg);
  background-position: center;
  background-size: cover;

}

.parent1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.child1 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.child2 {

  display: flex;
  align-items: center;
  column-gap: 40px;
  list-style-type: none;
 
  
}
.child2 li {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.child2 button {
  padding: 10px 30px;
  font-size: 12px;
  background: #00ae6c;
  border: none;
  color: white;
}

.content {
  padding: 80px;
}
.content h1 {
  font-size: 72px;
  max-width: 668px;
  line-height: 82px;
  font-weight: 700;
  color: white;
}
.content p {
  font-size: 16px;
  max-width: 500px;
  font-weight: 400;
}
.btn {
  padding-top: 60px;
  display: flex;
  gap: 40px;
}
.btn button {
  padding: 10px 40px;
  font-size: 12px;
  background: #00ae6c;
  border: none;
}
.btn h2 {
  color: white;
}

.image-content {
  padding: 110px 54px 126px 54px;
  display: flex;
  gap: 30px;
   justify-content:space-around;
}
.para1 {
  position: relative;
}

.smallpic2 {
  border: 6px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  position: absolute;
  left: -78.12px;
  top: 83.9px;
  max-width: 200px;
  width: 100%;
}
.smallpic3 {
  border: 6px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  position: absolute;
  top: 320.81px;
  right: -100px;
  max-width: 200px;
  width: 40%;
}
.para2 {
}
.para2 h2 {
 max-width: 482px;
  font-family: poppins;
  line-height: 46px;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-size: 36px;
  padding-bottom: 8px;
  
}
.para2 p {
  color: #2f2f2f;
  opacity: 70%;
  max-width: 482px;
  font-family: poppins;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 18px;
}

.wrap{
  padding-top: 20px;
}
.q1 h3 {
  max-width: 182px;
  font-family: poppins;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: rgba(40, 42, 46, 1);
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 5px;
}
.q2 h3 {
  max-width: 235px;
  font-family: poppins;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: rgba(40, 42, 46, 1);
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 5px;

}
.q3 h3 {
  max-width: 217px;
  font-family: poppins;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: rgba(40, 42, 46, 1);
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 5px;


}

.q1 .x1 {
  max-width: 391px;
  font-family: poppins;
  opacity: 0.7;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 400;

}
.q2 .x2 {
  max-width: 391px;
  font-family: poppins;
  opacity: 0.7;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 400;
}
.q3 .x3 {
  max-width: 391px;
  font-family: poppins;
  opacity: 0.7;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 400;
}

.q1{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.q2{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.q3{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.back2 {
  
  background-image: url(pic.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 42px 120px;
}
.back1122{
display: flex;
justify-content: end;
}
.form1 {
  background-color:rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  padding: 25px 30px;

}
.form h2 {
  max-width:192px;
  font-family: poppins;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
}
.use1 {
  max-width: 501px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.l1{
  max-width:66px;
  font-size:20px;
  font-weight: 500;
  line-height:30px;
  font-family: Poppins;
}
.edit{
  width: 400px;
  max-width: 100%;

}
.use2 {
  max-width: 501px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.l2{
  max-width:59px;
  font-size:20px;
  font-weight: 500;
  line-height:30px;
  font-family: Poppins;
}
.edit1{
  width: 400px;
  max-width: 100%;
}
.big{
  display: flex;
  gap: 10px;
}
.use3 {
  width: 225px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.l3 {
  max-width: 111px;
  font-size:20px;
  font-weight: 500;
  line-height:30px;
  font-family: Poppins;
}
.use3extra{
  width: 225px;
  max-width:100%;
  display: flex;
  flex-direction: column;

}
.l4 {
  font-size:20px;
  font-weight: 500;
  line-height:30px;
  font-family: Poppins;
}
.use4{
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 8px;
  }
.use4 .check{
  width: 20px;
  height: 18px;
}
.use4 p {

  max-width: 440px;
  font-size:20px ;
  font-weight: 300;
  line-height:20px ;
  font-family: poppins;
}
.color {
  color: #00ae6c;
}
.use5{
   
   width:470px;
   max-width: 100%;
   padding: 20px 0;
  border: none;
  color: white;
  background-color: #00ae6c;
  letter-spacing:0.5px;
}
.container4{
  /* max-width: 1200px;
  padding: 100px 0 100px 30px;
  margin: auto; */
}
.box1 {
  display: flex;
  gap: 120px;
}
.adjust1 {
   max-width: 614px;
   font-family: poppins;
   font-size:56px;
   font-weight:700;
   line-height: 64px;
   color:rgba(51, 64, 71, 1);
}
.adjust2 {
  max-width: 482px;
  padding: 20px 0;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgba(47, 47, 47, 1);

}
.adjust2 h2 {
  max-width: 187px;
  color: #00ae6c;
  font-size:28px ;
  font-family:Poppins ;
  line-height: 42px;
  font-weight:600 ;
  transform: rotate(10.64deg);
}
.horizontal1 {
  display: flex;
  gap: 80px;
}

.card1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 30%;
  background: #ecfef7;
  padding: 30px 50px 40px 0;
  border-radius: 25px;
}
.size1{
  max-width: 50px;
  width: 100%;
}
.a1 {
  display: flex;
  gap: 10px;
  padding: 0 0 0 20px;
}
.a1 h2{
  font-size:16px;
  line-height:24px;
  font-family:sora;
  font-weight: 400;
}
.a1 p{
  font-size:16px;
  line-height:24px ;
  font-family:poppins;
  font-weight: 400;
  color: rgba(90, 113, 124, 1);
}
.a2 .atia{
  padding-left: 20px;
}
.a2 p {
  font-size: 18px;
  line-height: 28px;
  font-family:Poppins ;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgba(47, 47, 47, 1);
  padding: 8px 0 0 20px;
}
.direction1,p{
  flex-direction: column;
  gap: 5px;
  
}

.card2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 30%;
  background:rgba(255, 255, 255, 1);
  padding: 40px 40px 40px 0;
  border-radius: 30px;
}
.size2{
  max-width: 50px;
  width: 100%;
}
.b1 {
  display: flex;
  gap: 10px;
  padding: 0 0 0 20px;
}
.b1 h2{
  font-size:16px;
  line-height:24px;
  font-family:sora;
  font-weight: 400;
}
.b1 p{
  font-size:16px;
  line-height:24px ;
  font-family:poppins;
  font-weight: 400;
  color: rgba(90, 113, 124, 1);
}
.b2 .lms{
  padding-left: 20px;
}
.b2 p {
  font-size: 18px;
  line-height: 28px;
  font-family:Poppins ;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgba(47, 47, 47, 1);
  padding: 8px 0 0 20px;
  
}
.direction2 {
  flex-direction: column;
  gap: 5px;
}
.card3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 30%;
  background: #ecfef7;
  padding: 40px 40px 40px 0;
  border-radius: 30px;
}
.size3{
  max-width: 50px;
  width: 100%;
}
.c1 {
  display: flex;
  gap: 10px;
  padding: 0 0 0 20px;
}
.c1 h2{
  font-size:16px;
  line-height:24px;
  font-family:sora;
  font-weight: 400;
}
.c1 p{
  font-size:16px;
  line-height:24px ;
  font-family:poppins;
  font-weight: 400;
  color: rgba(90, 113, 124, 1);
}
.c2 .lms2{
  padding-left: 20px;
}
.c2 p {
  font-size: 18px;
  line-height: 28px;
  font-family:Poppins ;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgba(47, 47, 47, 1);
  padding: 8px 0 0 20px;
}
.direction3 {
  flex-direction: column;
  gap: 5px;
}
.align {
  display: grid;
  gap: 30px;

}
.container5{
  max-width: 1400px;
  
}
.abc {
    padding-bottom: 50px;
}

.abc h2 {
  font-size: 36px;
  text-align: center;
  font-weight:700 ;
  line-height:36px ;
  font-family: Poppins;
  padding-bottom: 15px;
}
.abc p {
  color: #525252;
  font-family:Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height:28px ;
  letter-spacing: 0.3px;
  text-align: center;
}
.carousel-container{
  position: relative;
  overflow: hidden;
}
.card-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.card {
  width: 30%;
  margin: 0 5px;
  
}
.card:hover{
  transform: scale(1.2);
  
}
  
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}  
/* .container6{
  max-width: 1440px;
} */
.bag1 {
  background-color: #ecfef7;
  
}
.bag1 h2 {
  font-size:45px;
  font-family:Poppins;
  font-weight:600px;
  line-height: 58px;
  text-align: left;
  letter-spacing: 0.3px;
  padding-bottom: 20px;
}
.res{
  max-width: 1200px;
  padding: 100px 117px 190px 60px;
}
.main {
  display: flex;
  gap: 30px;
}
.internal1{
  max-width:500px;
}
.at1{
  width: 100%;
}
.internal2{
  max-width:500px;
}
.at2{
  width: 100%;
}
.internal3{
  max-width:500px;
}
.at3{
  width: 100%;
}
.main p {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  line-height: 33px;
  margin-top: 10px;
  color: black;
}
.type {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 852px;
  gap: 32px;

}
.sub_flex{
  display: flex;
  gap: 16px;
  width: 100%;
}
.sub_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
}
.type h2 {
  font-size:32px;
  line-height:48px;
  font-weight:700px;
}
.type p {
  color: #525252;
  font-size: 18px;
  line-height: 32px;
  font-weight:400 ;
}
.type .p1 {
  padding: 15px 20px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #00ae6c;
  color: #525252;
}
.type .p2 {
  background-color: #00ae6c;
  border: none;
  padding: 10px 20px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight:500 ;
  line-height:19.5px ;
}
.type .p3 {
  color: #525252;
  font-size: 14px;
 
  font-weight:400;
  line-height: 18px;
  margin-top: 5px;
}
.footer {
  background-color: black;
}
.main2 {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  color: #ecfef7;
  width: 95%;
  margin: auto;
}
.A1,
.A2,
.A3,
.A4,
.A5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
}

.A6 {
  border-top: 1px solid #ffffff4d;
  display: flex;
  margin-top: 50px;
  padding-top: 20px;
  width: 100%;
  justify-content: space-between;
}
.A6 h2,
p {
  color: white;
}
